body {
    background: yellow;
    width: 100%;
    height: 100%;
    margin: 0;
    text-align: center;
}

img {
    max-width: auto;
    max-height: auto;
}

img {}

div {
    float: left;
    text-align: left;
    width: auto;
    background-color: orange;
}

ul.a {
    list-style-type: circle;
    list-style-position: outside;
}

ul li {
    background: #ff9999;
    padding: 20px;
}

input {
    float: right;
    margin: 5px 0px;
    width: 200px;
}